<div class="container">
<div class="row mt30">
<h2 class="title text-center mb30">Get <span class="light first-color">Involved</span></h2>
</div>
<div class="row">
<div class="col-sm-4">
<div class="service vertical service-hover-bg dark text-center service-box">
<div class="service-content">
<h3 class="service-title title-underblock custom text-uppercase text-center">{{ site.data.site-wide-text[0].name }}</h3>
<p>{{ site.data.site-wide-text[0].text }}</p>
<p>&nbsp;</p>
<a href="/get-involved/students" class="btn btn-custom btn-border no-radius">Learn More</a>
</div><!-- End .service-content -->
</div><!-- End .service -->
</div><!-- End .col-sm-4 -->

<div class="col-sm-4">
<div class="service vertical service-hover-bg  dark text-center service-box">


<div class="service-content">
<h3 class="service-title title-underblock custom text-uppercase text-center">{{ site.data.site-wide-text[1].name }}</h3>
<p>{{ site.data.site-wide-text[1].text }}</p>
<p>&nbsp;</p>
<a href="/get-involved/professionals" class="btn btn-custom btn-border no-radius">Learn More</a>
</div><!-- End .service-content -->

</div><!-- End .service -->
</div><!-- End .col-sm-4 -->

<div class="col-sm-4">
<div class="service vertical service-hover-bg  dark text-center service-box">

<div class="service-content">
<h3 class="service-title title-underblock custom text-uppercase text-center">{{ site.data.site-wide-text[2].name }}</h3>
<p>{{ site.data.site-wide-text[2].text }}</p>
<p>&nbsp;</p>
<a href="/get-involved/staff" class="btn btn-custom btn-border no-radius">Learn More</a>
</div><!-- End .service-content -->

</div><!-- End .service -->
</div><!-- End .col-sm-4 -->
</div>
</div>