<div class="bg-image pt pb40 pb60-xs overlay-container" data-bgattach="/uploads/aiawtrc.jpg" style="background-image: url('/uploads/aiawtrc.jpg');">
    <div class="overlay"></div>
    <!-- end .overlay -->
    <div class="mb20"></div>
    <!-- space -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-2">
                <h2 class="title text-center mb30">Stay <span class="light first-color">In Touch</span></h2>
                <div class="mb20"></div>
            <!-- space -->
                <div class="row mt" style="text-align: center;">
                    <div class="social-icons social-icons-bg social-icons-bg-hover social-icons-lg social-icons-circle">
                        <a href="{{ site.data.socialmedia[1].link }}" class="social-icon icon-facebook" title="Facebook"> <i class="fa fa-facebook"></i> </a> 
                        <a href="{{ site.data.socialmedia[0].link }}" class="social-icon icon-twitter" title="Twitter"> <i class="fa fa-twitter"></i> </a> 
                        <a href="{{ site.data.socialmedia[2].link }}" class="social-icon icon-instagram" title="Instagram"> <i class="fa fa-instagram"></i> </a> 
                        <a href="{{ site.data.socialmedia[4].link }}" class="social-icon icon-youtube" title="YouTube"> <i class="fa fa-youtube"></i> </a>
                        <a href="mailto:{{ site.data.socialmedia[3].link }}" class="social-icon icon-mail" title="Email" target="_blank"> <i class="fa fa-envelope"></i> </a>
                    </div>
                </div><!-- End .social-icons -->
            </div><!-- End .col-md-8 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div>