<div class="no-border no-margin fullwidth">
    <div class="mb mb-xs"></div>
    <!-- space -->
    <div class="bg-image overlay-container" data-bgattach="/uploads/download.png" style="background-image: url('/uploads/download.png');">
        <div class="overlay dark"></div>
        <!-- End .overlay -->
        <div class="container">
            <div class="iframe-btn-container">
                <header class="title-block text-center mb50">
                    <h2 class="text-white text-center mb20">Look at where we're going!</h2>
                    <p class="text-white">Click here to find an opportunity right for you.</p>
                    <div class="callout-action">
                        <a href="https://docs.google.com/document/d/1bT6Va1TAFXlQE4oowpUuxopSO2qImgU5FtcsC6XTW-8/export?format=pdf" class="btn btn-custom radius-lger min-width">Explore</a>
                    </div>
                </header>
            </div><!-- End .iframe-btn-container -->
        </div><!-- End .container -->
    </div><!-- End .bg-image -->
</div>