<!DOCTYPE html>

<html>

<head>

    {% include base/head.html %}

</head>

<body>
    {% include base/sports-performance-menu.html %}

    {{ content }}
    {% include base/footer.html %}
    <script type="text/javascript">
        console.log("TEST");
        if ($("#testimonial-slider").length) {
            console.log("TEST");
            $("#testimonial-slider").owlCarousel({
                paginationSpeed: 1000,
                items: 1,
                autoplay: true,
                autoplayTimeout: 5000,
            });
        }
    </script>
</body>

</html>